 [% include 'head.html' %]
<div class="container mt4" id="app">
    <div class="row mt4 pt4">
        <div class="mb4">
            <span class="blue f3 b">Showcase</span><span class="purple f3 b">Me</span>
        </div>
        <div class="row cf">
            <div class="six columns card mv2">
                <div class="p3">
                    [% if not current_user.is_authenticated %]
                    <button class="mb4 mt3 center" onclick="location.href='/login'">I'm a company</button>
                    [% endif %]
                    <h4>Search for students near you</h4>
                    <span class="m1 mv2 dib" v-for="(tag, index) in selectedTags.slice().sort(function(a, b){return b.skill - a.skill})">
                    <label class="chip mv2" v-bind:class="{ active: tag.skill == 2, 'bg-yellow black' : tag.skill == 1 }">
                        {{tag.name}}
                        <i class="icon icon-arrow-up ml2 dim" v-if="tag.skill < 2" @click="tag.skill++"></i>
                        <i class="icon icon-arrow-down ml2 dim" v-if="tag.skill > 0" @click="tag.skill--"></i>
                        <i class="icon icon-cross ml2 dim" @click="removeTag(index)"></i>
                    </label>
                </span>
            <div>
            <button class="btn-primary mb4 mt3" v-if="selectedTags.length > 0" @click="search">Search</button>
                <input type="text" v-model="searchTerm" placeholder="Start typing to search" @keyup.enter="addTag(0)">
                <span class="m1 mv2 dib" v-for="(tag, index) in results">
                    <label class="chip">
                        {{tag.name}}
                        <i class="icon icon-plus ml2" @click="addTag(index)"></i>
                    </label>
                </span>
            </div>
                    
                </div>
            </div>
            <div class="six columns card mv2">
                <div class="p3">
                     [% if not current_user.is_authenticated %]
                    <button class="mb3 center" onclick="location.href='/login'">I'm a student</button>
                    [% endif %]
                    <h4>Search for listings near you</h4>
                    <input type="text" placeholder="Start searching...">
                    <button class="btn-primary mt2">Search</button>
                </div>
            </div>
        </div>
        <div class="row cf">
        [% with skills=topSkills | tojson %]
        [% include "chart.html" %]
        [% endwith %]
        <h3 class="mt3 pt3">Or, browse our featured students:</h3>
        <div class="row cf" >
            <div class="four columns" v-for="column in students">
                <div class="card  mv3" v-for="student in column">
                    <div class="p3">
                        <a :href="'/student/' + student.id"><h4 class="mb1" v-html="m(student.name)"></h4></a>
                        <p class="silver" v-html="m(student.blurb)"></p>
                        <span class="m1 mv2 dib" v-for="tag in student.tags.slice().sort(function(a, b){return b.skill - a.skill})">
                            <label class="chip mv2" v-bind:class="{ active: tag.skill == 2, 'bg-yellow black' : tag.skill == 1 }">
                                {{tag.name}}
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
[% include 'footer.html' %]
<link rel="stylesheet" type="text/css" href="[[url_for('static',filename='icons.min.css')]]">
</body>
<script src="[[url_for('static',filename='fuse.js')]]"></script>
<script>
function chunkArray(myArray, chunk_size) {
    counter = chunk_size
    tempArray = []
    for (var i = 0; i < chunk_size; i++) {
        tempArray.push([])
    }
    for (var i = 0; i < myArray.length; i++) {
        tempArray[counter % chunk_size].push(myArray[i])
        counter++
    }
    return tempArray;
}
function addTagState(tags) {
    var arr = []
    for (var i = tags.length - 1; i >= 0; i--) {
        arr.push({ name: tags[i], skill: 0 })
    }
    return arr
}
</script>
<script>
var app = new Vue({
    el: '#app',
    data: {
        students: chunkArray([[data | tojson]], 3),
        m: marked,
        selectedTags: [],
        searchTerm: '',
        tags:  addTagState([[tags | tojson]]),
        skills: [[topSkills | tojson]],
    },
    methods:{
        addTag: function(i) {
            if(this.searchTerm.length > 0 && this.results.length > 0){
                this.selectedTags.sort(function(a, b) { return b.skill - a.skill })
                this.selectedTags.push(this.results[i])
            }
        },
        removeTag: function(i) {
            this.selectedTags.sort(function(a, b) { return b.skill - a.skill })
            this.selectedTags.splice(i, 1)
        },
        search: function(){
            queryString = ""
            for (var i = this.selectedTags.length - 1; i >= 0; i--) {
                queryString += encodeURIComponent(this.selectedTags[i].name) + '=' + this.selectedTags[i].skill + "&"
            }
            window.location.href = "/search?" + queryString;
        }
    },
    computed: {
        results: function() {
            var self = this;
            var fuse = new Fuse(this.tags, {keys: ["name"]});
            var arr = fuse.search(this.searchTerm)
            var temp = []
            for (var i = this.selectedTags.length - 1; i >= 0; i--) { //this bit of code is to avoid adding duplicates.
                temp.push(this.selectedTags[i].name)
            }
            arr = arr.filter(function(val) {
                return temp.indexOf(val.name) == -1;
            })
            return arr
        },
    },
})
</script>

</html>