 [% include 'head.html' %]
<div class="container mt4" id="app">
    <div class="row mt4 pt4">
        <div class="mb4">
            <span class="blue f3 b">Showcase</span><span class="purple f3 b">Me</span>
        </div>
        <div class="row cf">
            <div class="six columns card">
                <div class="p3">
                    <button class="mb2 center">I'm with a company</button>
                    <h4>Search for students near you</h4>
                    <input type="text" placeholder="Start searching...">
                    <button class="btn-primary mt2">Search</button>
                </div>
            </div>
            <div class="six columns card">
                <div class="p3">
                    <button class="mb2 center">I'm a student</button>
                    <h4>Search for listings near you</h4>
                    <input type="text" placeholder="Start searching...">
                    <button class="btn-primary mt2">Search</button>
                </div>
            </div>
        </div>
        <h3 class="mt3 pt3">Or, browse our featured students:</h3>
        <div class="row cf" v-for="row in students">
            <div class="four columns mv3" v-for="student in row">
                <div class="card">
                    <div class="p3">
                        <h4 class="mb1" v-html="m(student.name)"></h4>
                        <p class="silver" v-html="m(student.blurb)"></p>
                        <span class="m1 mv2 dib" v-for="tag in student.tags.slice().sort(function(a, b){return b.skill - a.skill})">
                            <label class="chip mv2" v-bind:class="{ active: tag.skill == 2, 'bg-yellow black' : tag.skill == 1 }">
                                {{tag.name}}
                            </label>
                        </span>
                        <a class="btn mt3 w-100" :href="'/student/' + student.id">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
[% include 'footer.html' %]
<link rel="stylesheet" type="text/css" href="[[url_for('static',filename='icons.min.css')]]">
</body>
<script src="[[url_for('static',filename='siema.min.js')]]"></script>
<script>
function chunkArray(myArray, chunk_size) {
    var index = 0;
    var arrayLength = myArray.length;
    var tempArray = [];
    for (index = 0; index < arrayLength; index += chunk_size) {
        myChunk = myArray.slice(index, index + chunk_size);
        tempArray.push(myChunk);
    }

    return tempArray;
}
</script>
<script>
var app = new Vue({
    el: '#app',
    data: {
        students: chunkArray([[data | tojson]], 3),
        m: marked,
    }
})
slider = new Siema();
document.querySelector('#left').addEventListener('click', () => slider.prev());
document.querySelector('#right').addEventListener('click', () => slider.next());
</script>

</html>