[% include 'head.html' %]
<div class="container mt4" id="app">
    <h5 class="b">Please Note!</h5>
    <p class="mw6">If you are with a company, joining with a Google account will link that account's personal information with the company that you are representing.</p>
    <div class="row cf">
        <div class="six columns mt4">
            <h3 class="mb2 pb2">Sign in</h3>
            <input type="text" v-model="email" placeholder="Email" />
            <input type="password" v-model="password" placeholder="Password" />
            <input type="checkbox" />
            <i class="form-icon"></i> Remember me
            <button class="mt3 btn btn-primary btn-lg w-100 grow" @click="login">Login</button>
        </div>
        <div class="six columns mt4">
            <h3 class="mb2 pb2 tc">Or, sign in with...</h3>
            <img @click="withGoogle" class="img-fit-contain center pv2 grow" width="200px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/2000px-Google_2015_logo.svg.png" alt="">
            <br>
            <img class="img-fit-contain center pv2 grow mb2" width="200px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Facebook_New_Logo_%282015%29.svg/512px-Facebook_New_Logo_%282015%29.svg.png" alt="">
        </div>
    </div>
</div>
 [% include 'footer.html' %]
</body>
<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<script>
var config = {
    apiKey: "AIzaSyCL-XjZ0VUWL9Ch7l7KQSPIk1uMilZYJBI",
    authDomain: "showcaseme-cf25a.firebaseapp.com",
    databaseURL: "https://showcaseme-cf25a.firebaseio.com",
    projectId: "showcaseme-cf25a",
    storageBucket: "showcaseme-cf25a.appspot.com",
    messagingSenderId: "884848122606"
};
firebase.initializeApp(config);
var google = new firebase.auth.GoogleAuthProvider();
</script>
<script>
var app = new Vue({
    el: '#app',
    data: {
        email: '',
        password: ''
    },
    created: function() {
        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                app.$http.post('/login', {
                    uid: user.uid,
                    name: user.displayName
                }).then(function(resp) {
                    firebase.auth().signOut().then(function() {}, function(error) {});
                    if (resp.body.result != 'ok') {
                        window.location.replace("/usertype")
                    } else{
                        window.location.replace("/")
                    }
                });
            }
        });
    },
    methods: {
        login: function() {
            firebase.auth().signInWithEmailAndPassword(this.email, this.password).catch(function(error) {
                /*var errorCode = error.code;
                var errorMessage = error.message;
                alert("Error: " + error.message)*/
            });
        },
        withGoogle: function() {
            firebase.auth().signInWithPopup(google).then(function(result) {
                /*var user = result.user;
                console.log(user)
                app.$http.post('/login', {
                    uid: user.uid,
                    name: user.displayName
                }).then(function(resp) {
                    firebase.auth().signOut().then(function() {}, function(error) {});
                    console.log(resp.body)
                    //window.location.replace("/")
                });*/
                // ...
            }).catch(function(error) {});
        }
    }
})
</script>

</html>
