[% include 'head.html' %]
<main class="container mt4" id="app">
    <div class="row mt2 cf">
        <div class="seven columns mt2">
            <fancy-input v-model="user.name" :edit="edit">
                <h2 v-html="m(user.name)"></h2></fancy-input>
            <fancy-input v-model="user.blurb" :edit="edit">
                <p v-html="m(user.blurb)"></p>
            </fancy-input>

            [% if userType == 'student' %]
            <h3>Featured Projects</h3>
            <div class="card mv3" v-for="(project, index) in user.projects">
                <div class="p3">
                    <fancy-input v-model="project.title" :edit="edit">
                        <h4 class="mb1" v-html="m(project.title)"></h4></fancy-input>
                    <fancy-input v-model="project.blurb" :edit="edit">
                        <p class="silver" v-html="m(project.blurb)"></p>
                    </fancy-input>
                    <fancy-input v-model="project.description" :edit="edit">
                        <div v-html="m(project.description)"></div>
                    </fancy-input>
                    <button v-if="edit" @click="user.projects.splice(index, 1)">Delete Project</button>
                </div>
            </div>
            <button class="btn-primary mv3 w-100" v-if="edit" @click="user.projects.push(JSON.parse(JSON.stringify(exampleProj)))">Add Project</button>
            [% endif %]
                [% if current_user.is_authenticated and current_user.id == id %]
                <button class="btn-primary mt2" v-if="edit" @click="saveProfile">Save Profile</button>
                <button class="btn-primary mt2" v-else @click="edit = true">Edit Profile</button>
                [% if userType == 'company' %]
                    <div>
                        <a href="/listing">
                            <button class="btn-primary mt2">
                                <i class="icon icon-plus"></i> &nbsp; Add listing
                            </button>
                        </a>
                    </div>
                [% endif %]
            [% endif %]
        </div>
        <div class="five columns mt2">
        [% if userType == 'student' %]
            <h3>Skills</h3>
            <span class="m1 mv2 dib" v-for="(tag, index) in user.tags.slice().sort(function(a, b){return b.skill - a.skill})">
                    <label class="chip mv2" v-bind:class="{ active: tag.skill == 2, 'bg-yellow black' : tag.skill == 1 }">
                        {{tag.name}}
                        <i class="icon icon-arrow-up ml2 dim" v-if="edit && tag.skill < 2" @click="tag.skill++"></i>
                        <i class="icon icon-arrow-down ml2 dim" v-if="edit && tag.skill > 0" @click="tag.skill--"></i>
                        <i class="icon icon-cross ml2 dim" v-if="edit" @click="removeTag(index)"></i>
                    </label>
                </span>
            <div v-if="edit">
                <input type="text" v-model="searchTerm" placeholder="Start typing to search">
                <span class="m1 mv2 dib" v-for="(tag, index) in results">
                    <label class="chip">
                        {{tag.name}}
                        <i class="icon icon-plus ml2" @click="addTag(index)"></i>
                    </label>
                </span>
            </div>
        [% else %]
            <div class="card mv3" v-for="listing in listings">
                <div class="p3">
                    <a class="f4" :href="'/listing/'+listing.id" v-html="m(listing.title)"></a>
                    <p class="silver" v-html="m(listing.blurb)"></p>
                    <h5 class="mb1">Skills</h5>
                    <span class="m1 mv2 dib" v-for="(tag, index) in listing.tags.slice().sort(function(a, b){return b.skill - a.skill})">
                        <label class="chip mv2" v-bind:class="{ active: tag.skill == 2, 'bg-yellow black' : tag.skill == 1 }">
                            {{tag.name}}
                        </label>
                    </span>
                    <h5 class="mb1">Bonus Skills</h5>
                    <span class="m1 mv2 dib" v-for="(tag, index) in listing.bonus_tags.slice().sort(function(a, b){return b.skill - a.skill})">
                        <label class="chip mv2" v-bind:class="{ active: tag.skill == 2, 'bg-yellow black' : tag.skill == 1 }">
                            {{tag.name}}
                        </label>
                    </span>
                    <div v-html="m(listing.description)"></div>
                </div>
            </div>
        
        [% endif %]
        </div>
    </div>
    
</main>
[% include 'footer.html' %]
</body>
<script src="[[url_for('static',filename='autosize.min.js')]]"></script>
<script src="[[url_for('static',filename='fuse.js')]]"></script>
<link rel="stylesheet" href="[[url_for('static',filename='icons.min.css')]]">

<script>
Vue.directive('autosize', {
    bind: function(el, binding) {
        var tagName = el.tagName
        if (tagName == 'TEXTAREA')
            autosize(el)
        else if (tagName == 'INPUT' && el.type == 'text')
            autoSizeInput(el)
    },
    componentUpdated: function(el, binding, vnode) {
        var tagName = el.tagName
        if (tagName == 'TEXTAREA')
            autosize.update(el)
    },
    unbind: function(el) {
        autosize.destroy(el)
    }
})

function addTagState(tags) {
    var arr = []
    for (var i = tags.length - 1; i >= 0; i--) {
        arr.push({ name: tags[i], skill: 0 })
    }
    return arr
}
</script>
<script type="text/x-template" id="fancy">
    <div class="mb1">
        <div v-if="!state" style="min-width: 40px; min-height: 20px;" @click="state = true && edit">
            <slot></slot>
        </div>
        <div v-if="edit&&state">
            <textarea type="text" v-model="ivalue" v-autosize="ivalue"></textarea>
            <button class="btn-primary btn-sm" @click="save">Finish</button>
        </div>
    </div>
</script>
<script>
Vue.component('fancyInput', {
    props: ['value', 'edit'],
    data: function() { return { state: false, ivalue: this.value } },
    methods: {
        save: function() {
            this.state = false
            this.$emit('input', this.ivalue)
        }
    },
    template: "#fancy"
});
var app = new Vue({
    el: "#app",
    created: function() {
        this.$set(this.user, 'tags', this.user.tags || [])
    },
    data: {
        edit: false,
        [% if userType == 'company' %]
        listings: [[listings | tojson]],
        [% endif %]
        m: marked,
        user: [[data | tojson]],
        tags: addTagState([[tag | tojson]]),
        exampleProj: { title: "Example Title", blurb: "Intern", description: "Helped manage systems and distributed analysis of plugins relating to wordpress. Performed statistical analysis on multiple datasets using flareon architecture." },
        searchTerm: '',
        swal: swal,
    },
    methods: {
        saveProfile: function() {
            this.edit = false;
            this.user.tags.sort(function(a, b) { return b.skill - a.skill })
            app.$http.post('/profile', this.user).then(function(resp) {
                swal("", "Profile has been saved!", "success")
            });
        },
        addTag: function(i) {
            this.user.tags.sort(function(a, b) { return b.skill - a.skill })
            this.user.tags.push(this.results[i])
        },
        removeTag: function(i) {
            this.user.tags.sort(function(a, b) { return b.skill - a.skill })
            this.user.tags.splice(i, 1)
        },
    },
    computed: {
        results: function() {
            var self = this;
            var fuse = new Fuse(this.tags, {keys: ["name"]});
            var arr = fuse.search(this.searchTerm)
            var temp = []
            for (var i = this.user.tags.length - 1; i >= 0; i--) { //this bit of code is to avoid adding duplicates.
                temp.push(this.user.tags[i].name)
            }
            arr = arr.filter(function(val) {
                return temp.indexOf(val.name) == -1;
            })
            return arr
        },
    },
})
</script>

</html>