[% include 'head.html' %]
<div class="container mt3">
    <h3>Select your account type</h3>
    <p>This is permanent, so make sure you know what you are doing!</p>
    <div class="row cf" id="app">
        <div class="six columns mv2">
            <div class="ba b-blue blue br3">
                <div class="p3">
                    <h4>Company</h4>
                    <p>Companies have the ability to post listings, and be reccomended students who fit those listings.</p>
                    <ul>
                        <li>the ability to create and edit job listings</li>
                        <li>the chance to reach out to talented high school graduates in your community</li>
                    </ul>
                    <span class="bg-blue dim pv3 ph4 center w-100 tc white hand br2" @click="company">I am a company</span>
                </div>
            </div>
        </div>
        <div class="six columns mv2">
            <div class="ba b-purple purple br3">
                <div class="p3">
                    <h4>Student</h4>
                    <p>Students have the ability to create and update their profiles, and be reccomended listings that fit their experience.</p>
                    <ul>
                        Being a student gives you
                        <li>market yourself to companies in your area </li>
                        <li>see how well your skills compare to the current demand of your local job market</li>
                        <li>connect with your peers</li>
                    </ul>
                    <span class="bg-purple dim pv3 ph4 center w-100 tc white hand br2" @click="student">I am a student</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var app = new Vue({
    el: "#app",
    methods: {
        company: function() {
            app.$http.post('/usertype', { userType: 'company' }).then(function(resp) {
                window.location.href = "/"
            });
        },
        student: function(i) {
            app.$http.post('/usertype', { userType: 'student' }).then(function(resp) {
                window.location.href = "/"
            });
        },
    },
})
</script>
[% include 'footer.html' %]
</body>