[% include 'head.html' %]
<div class="container mt3">
    <h3>Select your account type</h3>
    <p>This is permanent, so make sure you know what you are doing!</p>
    <div class="row cf">
        <div class="six columns">
            <div class="ba b-blue blue br3">
                <div class="p3">
                    <h4>Company</h4>
                    <p>Companies have the ability to post listings, and be reccomended students who fit those listings.</p>
                    <ul>
                    Being a company gives you
                        <li>The ability to create and edit listings</li>
                        <li>I don't know, do cool stuff? Mihir help with wording, k thx</li>
                    </ul>
                    <span class="bg-blue dim pv3 ph4 center w-100 tc white hand br2">I am a company</span>
                </div>
            </div>
        </div>
        <div class="six columns">
        <div class="ba b-purple purple br3">
                <div class="p3">
                    <h4>Student</h4>
                    <p>Students have the ability to create and update their profiles, and be reccomended listings that fit their experience.</p>
                    <ul>
                    Being a student gives you
                        <li>The ability to create and edit your profile</li>
                        <li>I don't know, do cool stuff? Mihir help with wording, k thx</li>
                    </ul>
                     <span class="bg-purple dim pv3 ph4 center w-100 tc white hand br2">I am a student</span>
                </div>
            </div>
        </div>
    </div>
</div>
[% include 'footer.html' %]
</body>