.dib{
	display: inline-block;
}

input[type=email], 
input[type=number], 
input[type=password], 
input[type=search], 
input[type=tel], 
input[type=text], 
input[type=url], 
textarea,
button,
.card {
	border-radius: 4px;
}
.chip {
	border-radius: 2px;
}
