[% include 'head.html' %]
<div class="container mt3">
    <h3>So, what is this?</h3>
    <p class="mw7">ShowcaseMe is a student developed professional platform for high school students, giving them the means to find work locally while also learning the important skills of self-marketing.</p>
    <br>
    <h3>Who are you guys anyway?</h3>
    <div class="row cf">
        <div class="six columns">
            <div class="card mv2">
                <div class="p3">
                    <h4 class="mb1">Arham Jain</h4>
                    <p class="silver">Lead Developer</p>
                    <p>Arham is currently a senior at Okemos High School.</p>
                </div>
            </div>
        </div>
        <div class="six columns">
            <div class="card mv2">
                <div class="p3">
                    <h4 class="mb1">Mihir Upadhye</h4>
                    <p class="silver">UX</p>
                    <p>Mihir is currently a freshman at the University of Michigan.</p>
                </div>
            </div>
        </div>
        <div class="six columns">
            <div class="card mv2">
                <div class="p3">
                    <h4 class="mb1">Jainil Shah</h4>
                    <p class="silver">Developer</p>
                    <p>Jainil is currently a Sophomore at Okemos High School</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h3>Contact Us</h3>
    <div class="mw7">
        <form action="https://formspree.io/showcaseme.xyz@gmail.com" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="_replyto" placeholder="Email">
            <textarea cols="30" rows="10" placeholder="Message" name="message"></textarea>
            <input class="btn" type="submit" value="Submit">
        </form>
    </div>
</div>
[% include 'footer.html' %]
</body>