[% include 'head.html' %]
<div class="container mt3">
    <h3>So, what is this?</h3>
    <p class="mw7">ShowcaseMe is a student developed professional platform for high school students, giving them the means to find work locally while also learning the important skills of self-marketing.</p>
    <h3>Who are you guys anyway?</h3>
    <div class="row cf">
        <div class="four columns">
            <div class="card">
                <div class="p3">
                <h4>Arham Jain</h4>
                <p class="silver">Lead Developer</p>
                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="card">
                <div class="p3">
                <h4>Mihir Upadhye</h4>
                <p class="silver">UX</p>
                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="card">
                <div class="p3">
                <h4>Jainil Shah</h4>
                <p class="silver">Developer</p>
                </div>
            </div>
        </div>
    </div>
</div>
[% include 'footer.html' %]
</body>