[% include 'head.html' %]
<div class="container mt4" id="app">
    <div class="row mt4 pt4">
        <div class="six columns">
            <h3 class="mb2 pb2">Create an account</h3>
            <input type="text" v-model="email" placeholder="Email" />
            <input type="password" v-model="password" placeholder="Password" />
            <input type="password" v-model="confirmpassword" placeholder="Confirm Password" />
            <input type="text" v-model="username" placeholder="Name" />
            <button class="mt3 btn btn-primary btn-lg w-100 grow" @click="create">Sign Up</button>
        </div>
    </div>
</div>
</body>
<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<script>
var config = {
    apiKey: "AIzaSyCL-XjZ0VUWL9Ch7l7KQSPIk1uMilZYJBI",
    authDomain: "showcaseme-cf25a.firebaseapp.com",
    databaseURL: "https://showcaseme-cf25a.firebaseio.com",
    projectId: "showcaseme-cf25a",
    storageBucket: "showcaseme-cf25a.appspot.com",
    messagingSenderId: "884848122606"
};
firebase.initializeApp(config);
</script>
<script>
var app = new Vue({
    el: '#app',
    data: {
        email: '',
        password: '',
        confirmpassword: '',
        username: ''
    },
    created: function() {
        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                user.updateProfile({
                    displayName: app.username,
                }).then(function() {
                    app.$http.post('/login', {
                        uid: user.uid,
                        name: user.displayName
                    }).then(function(resp) {
                        firebase.auth().signOut().then(function() {}, function(error) {});
                        window.location.replace("/")
                    });
                });
            }
        });
    },
    methods: {
        create: function() {
            firebase.auth().createUserWithEmailAndPassword(this.email, this.password).catch(function(error) {console.log(error)});
        }
    }
})
</script>

</html>
